<!doctype html>
<html lang="en">
  <head>
   <%- include("./partials/head") %>

  </head>
  <body>

   <nav class="navbar fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><div class="img-navbar"><img src="images/logo-nobg.png" width="100%"></div></a>
         
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Tripstater</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">Tours</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login </a>
                </li>
                
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="¿A dónde te gustaría ir?" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
            </div>
          </div>
        </div>
      </nav>






    
<div class="container">
  <div class="row header-carousel">
     
  </div>
</div>

<div class="carousel-index">

  <section class="search-sec">
    <div class="container">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row search-btn">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 btn-1">
                            <input type="text" class="form-control search-slt" placeholder="¿A dónde te gustaría ir?">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 btn-2">
                            <input type="date" class="form-control search-slt" placeholder="¿Cúando?">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 btn-3">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Tour guiado</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-success wrn-btn search-btn-sub">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </section>
 <div class="row">
  <div class="col search-btns">
            
    
    <button type="button" class="btn btn-primary btn-sm">América</button>
    <button type="button" class="btn btn-secondary btn-sm">África</button>
    <button type="button" class="btn btn-success btn-sm">Oceanía</button>
    <button type="button" class="btn btn-danger btn-sm">Asia</button>
    <button type="button" class="btn btn-warning btn-sm">Europa</button>
  </div> 
    <div class="col"> <p class="text-desktop-btn"></i> Tu ubicación: Buenos Aires, Argentina <i class="fas fa-map-marked-alt"></i> |  Aprovechá 12 cuotas sin interés con tarjeta Mastercard  </p></div>
  
  </div>
  
   

<section>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/sliderfade1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption  d-md-block">
          <h5>Visita el Machupichu</h5>
          <p>Salidas en Octubre y Noviembre.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/sliderfade2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption  d-md-block">
          <h5>Visita la montaña sarasa</h5>
          <p>Salidas en Enero.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/sliderfade3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption  d-md-block">
          <h5>Visita Londres</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

</div>


        <div class="row">
          <div class="col divisor-index-1">
            <img src="images/logo-nobg.png" width="30%">
            <h2>Experiencias inigualables, en todos los sentidos.</h2>
            <p> Contratá hoy un tour guiado en Tripstarter </p>
          </div>


        </div>
        <!--
        <div class="row division-1">
          <div class="col"></div>
        </div>
        -->

        <div class="row ">
          
      </div>







        <div class="row">
            <div class="col"> <h2 class="font-heading">Tours sugeridos</h2> </div>
            
        
        </div>




        <div class="container">
          <div class="row row-cols-1  row-cols-sm-1 row-cols-lg-3 row-cols-xl-3 g-2 g-lg-3">
            <div class="col">
              <div class="p-3 border bg-light"> 
                <article>
                  <div class="img-card"> <img width="100%" src="/images/recomendado1.png" alt="Praga" />
                      <!-- <a href="./productCart"><p>RESERVAR</p></a> -->
                  </div>
                      <p class="text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>  
              </article>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">
                <article>
                  <div class="img-card"> <img width="100%" src="/images/recomendado2.png" alt="Praga" />
                      <!-- <a href="./productCart"><p>RESERVAR</p></a> -->
                  </div>
                       <p class="text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>  
              </article>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">
                <article>
                  <div class="img-card"> <img width="100%" src="/images/recomendado3.png" alt="Praga" />
                      <!-- <a href="./productCart"><p>RESERVAR</p></a> -->
                  </div>
                       <p class="text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>  
              </article>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">
                <article>
                  <div class="img-card"> <img width="100%" src="/images/recomendado4.png" alt="Praga" />
                      <!-- <a href="./productCart"><p>RESERVAR</p></a> -->
                  </div>
                       <p class="text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>  
              </article>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">
                <article>
                  <div class="img-card"> <img width="100%" src="/images/recomendado5.png" alt="Praga" />
                      <!-- <a href="./productCart"><p>RESERVAR</p></a> -->
                  </div>
                       <p class="text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>  
              </article>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">
                <article>
                  <div class="img-card"> <img width="100%" src="/images/recomendado6.png" alt="Praga" />
                      <!-- <a href="./productCart"><p>RESERVAR</p></a> -->
                  </div>
                       <p class="text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>  
              </article>
              </div>
            </div>
            
          </div>
        </div>
        
        <div class="row">
          <div class="col"> <h2 class="font-heading">Elige tu próxima aventura</h2> </div>
          
        </div>
        <div class="row">
          <div class="col"><img width="100%" src="/images/africa.svg" alt="Africa" /></div>
          <div class="col"><img width="100%" src="/images/america.svg" alt="America" /></div>
          <div class="col"><img width="100%" src="/images/asia.svg" alt="Asia" /></div>
          <div class="col"><img width="100%" src="/images/oceania.svg" alt="Oceania" /></div>
          <div class="col"><img width="100%" src="/images/europa.svg" alt="Europa" /></div>

        </div>


        





    </div>
    <!---Footer-->
    <%- include('./partials/footer')  %> 









     
















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>