<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head") %> 
</head>
<body >
    <main>
        <section>
            <div class="contenedor404">
                <img class="img404" src="\images\ethan-sykes-iISyBKOT2D0-unsplash.jpg" />
                <div class="texto-encima404">404 - Esta pagina no existe</div>
            </div>
        </section>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>